{% extends "bootstrap/base.html" %} 

{% block title %}BelaVoco{% endblock %} 

{% block head %}   
{{ super() }}

<meta name="description" content="BelaVoco ist eine Community aus Lesenden und Hörenden.
Aufnahmen hier, höhren in der APP.">

<!-- ++++++++++++++++++  -->
<!-- "upload URL is currently file-panel/upload"  -->
<!-- needes to be changed in FORM-Action and in JAVASCRIPT var url  -->
<!-- ++++++++++++++++++  -->


<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<!--  Modal Video -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal-video.min.css') }}"> 

<!-- Generic page styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<!-- Bootstrap Glyphicons-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}"> 

{% endblock %} 
{% block content %}


<!-- Including the modal dialogue -->
{% include 'modal_mail.html' %}


<div class="container-fluid">
  <div class="row">
    <!-- <div class="center-block"> -->
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <h1 class="text-center">BelaVoco</h1>
        <img src="{{ url_for('static', filename='img/voco_pic.jpg') }}" class="img-responsive center-block img-fluid" alt="Responsive image">


      </div>
      <div style="padding:20px" class="col-md-4" >
          <span style= "margin:auto" class="glyphicons glyphicons-microphone" ></span>
          <a href="#" class="btn btn-danger btn-lg js-video-button" data-video-id='PL_R95CAufNZ_YOg6czP415_1YLn2J5HQo'>
              <span class="glyphicon glyphicon-record"></span> Wie Aufnehmen?
          </a>

      </div>
    </div>

  </div>

  <form id="fileupload" action="{{ upload_url }}" method="POST" enctype="multipart/form-data" accept="audio/mp3">
    
    <input type="hidden" id="form_creator_email" name="creator_email" value="1">

    <div class="form-group row">
      <div class="form-group">       
      
        <!-- <div class="col-md-12 text-center">   -->
        <div class="form-group col-md-3 col-md-offset-3">
          <label class="col-form-label">Reader:</label>
          <input type="text" name="reader" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label class="form-check-label">Author:</label>
          <input type="text" name="author" class="form-control">
        </div>
        <div class="form-group col-md-3 col-md-offset-3">
          <label class="form-check-label">Title: </label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label>Language: </label>
          <select name = "text_lang"  name="any_name" class="form-control">
            <option value="de">Deutsch</option>
            <option value="fr">Französisch</option>
            <option value="en">Englisch</option>
            <option value="es">Spanisch</option>
          </select>

        </div>
        <div class="form-group row col-md-6 col-md-offset-3">
          <fieldset class="form-control text-center">
            <input type="radio" id="pr" name="text_type" value="1" checked="checked" class="form-check-radio">
            <label for="pr">Prosa</label>
            <input type="radio" id="lr" name="text_type" value="2" class="form-check-radio">
            <label for="lr">Lyrik</label>
          </fieldset>
        </div>

      </div>
    </div>
 </form>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>          
          <!-- The file input field used as target for the file upload widget -->
          <input id="fileupload1" type="file" name="file" accept="audio/mp3">
  
        </span>
        <button type="button" class="upload_button btn btn-primary">Upload</button>
        <br>
        <div id="files" class="files ">
          <br>
        </div>
        
        <!-- The global progress bar -->
        <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
         
        </div>
        <!-- The container for the uploaded files -->        
       
        
        
        </span>
        

      </div>
    </div>

 

</div>


{% endblock %}





{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.iframe-transport.js') }} "></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/vendor/jquery.fileupload.js') }}"></script>

<script src="{{ url_for('static', filename='js/vendor/jquery.modal-video.min.js') }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="{{ url_for('static', filename='js/belavoco_video_tut.js') }}"></script>

<script src="{{ url_for('static', filename='js/belavoco_modal_mail.js') }}"></script>


<!-- Loading our belavoce Javascript - include, so it can be parsed -->
<script>
{% include 'belavoco_fileupload.js' %}  /*eslint-disable*/
</script>


{% endblock %} 

