{% extends "bootstrap/base.html" %} {% block title %}BelaVoco{% endblock %} {% block head %} {{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<!-- Generic page styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}"> {% endblock %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- <div class="center-block"> -->
    <div class="col-md-12">
      <div class="col-md-4 bg-success">col-4</div>
      <div class="col-md-4">

        <h1 class="text-center">BelaVoco</h1>
        <img src="{{ url_for('static', filename='img/voco_pic.jpg') }}" class="img-responsive center-block img-fluid" alt="Responsive image">


      </div>
      <div class="col-md-4 bg-danger">col-3</div>
    </div>

  </div>

  <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
      <div class="form-group">
        <!-- <div class="col-md-12 text-center">   -->
        <div class="form-group col-md-3 col-md-offset-3">
          <label class="col-form-label">Reader:</label>
          <input type="text" name="reader" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label class="form-check-label">Author:</label>
          <input type="text" name="author" class="form-control">
        </div>
        <div class="form-group col-md-3 col-md-offset-3">
          <label class="form-check-label">Title: </label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label>Language: </label>
          <select class="form-control">
            <option value="de">Deutsch</option>
            <option value="fr">Französisch</option>
            <option value="en">Englisch</option>
            <option value="es">Spanisch</option>
          </select>

        </div>
        <div class="form-group row col-md-6 col-md-offset-3">
          <fieldset class="form-control text-center">
            <input type="radio" id="pr" name="radio" value="1" checked="checked" class="form-check-radio">
            <label for="pr">Prosa</label>
            <input type="radio" id="lr" name="radio" value="2" class="form-check-radio">
            <label for="lr">Lyrik</label>
          </fieldset>
        </div>
      </div>
    </div>
 </form>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>
          <!-- The file input field used as target for the file upload widget -->
          <input id="fileupload1" type="file" name="files[]" multiple>
        </span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
      </div>
    </div>

 

</div>


{% endblock %} 

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<!-- <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script> -->
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<!-- <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script> -->
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<!-- <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script> -->
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<!-- <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> -->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }} "></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script> -->
<!-- The File Upload image preview & resize plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-image.js') }}"></script> -->
<!-- The File Upload audio preview plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-audio.js') }}"></script> -->
<!-- The File Upload video preview plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-video.js') }}"></script> -->
<!-- The File Upload validation plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script> -->
<!-- The File Upload user interface plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-ui.js') }}"></script> -->
<!-- The main application script -->
<!-- <script src="{{ url_for('static', filename='js/main_fp.js') }}"></script> -->
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->



{ % raw %}

<script>

$(function () {
  'use strict';
  // Change this to the location of your server-side upload handler:
  
  console.log("i should be working....");
  var url = window.location.hostname === 'blueimp.github.io' ?
              '//jquery-file-upload.appspot.com/' : '/upload';
  $('#fileupload1').fileupload({
      url: url,
      dataType: 'json',
      done: function (e, data) {
          $.each(data.result.files, function (index, file) {
              $('<p/>').text(file.name).appendTo('#files');
          });
      },
      progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .progress-bar').css(
              'width',
              progress + '%'
          );
      }
  }).prop('disabled', !$.support.fileInput)
      .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
{ % endraw %}



{% endblock %}
