{% extends "bootstrap/base.html" %} {% block title %}BelaVoco{% endblock %} {% block head %} {{ super() }}

<input id="fileupload" type="file" name="file" data-url="file-panel/upload" accept="audio/mp3">

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<!-- <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script> -->
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<!-- <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script> -->
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<!-- <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script> -->
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<!-- <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> -->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }} "></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script> -->
<!-- The File Upload image preview & resize plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-image.js') }}"></script> -->
<!-- The File Upload audio preview plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-audio.js') }}"></script> -->
<!-- The File Upload video preview plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-video.js') }}"></script> -->
<!-- The File Upload validation plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script> -->
<!-- The File Upload user interface plugin -->
<!-- <script src="{{ url_for('static', filename='js/jquery.fileupload-ui.js') }}"></script> -->
<!-- The main application script -->
<!-- <script src="{{ url_for('static', filename='js/main_fp.js') }}"></script> -->
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->



<script>

<input id="fileupload" type="file" accept="audio" name="file" data-url="file-upload/upload">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }} "></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>


{% endblock %}

{% endblock %} 