
<div id="ModalEmail" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email für Upload</h4>
            </div>
            <div class="modal-body">
                <p>Bitte BelaVoco Email eintragen:</p>
                <!-- <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p> -->
                <form id="creator_validation_form" role="form" data-toggle="validator"  >

                    <div class="form-group has-feedback" id="modal-email-form" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Email:</span>
                            <input id="input_upload_email" name="user_email" data-toggle="tooltip" data-remote="/api/validate_user" type="email"  class="form-control"
                                placeholder="bestreader@digest.com" required 
                                data-error="Email ungültig oder gehört keinem User. Melde dich bitte in der App an!">
                        </div>
                        <div class="help-block with-errors"></div> 
                    </div>
                    

                    <div class="checkbox">
                        <label><input type="checkbox" name="check_upload_without_email" value="1">Anonymer Upload
                            (kann nicht gelöscht werden)</label>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button id="modal_cancel_button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="modal_submit_button" type="button" class="btn btn-primary"> Continue Upload </button>
            </div>
        </div>
    </div>
</div>