{% extends 'admin/model/list.html' %}

{% block body %}
    {{ super() }}

    <div class="modal fade" tabindex="-1" role="dialog" id="user-info-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a href="{{ url }}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <h4 class="modal-title">User Info</h4>
          </div>
          <div class="modal-body">
            <h1>Loading...</h1>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

{% endblock body %}

{% block tail %}
    {{ super() }}
    <script>
        function openModal(id){
            var main_url = window.location.href.split("?")[0] // this is so ".../user/?page=2" will work 
            
            //change Title
            $("#user-info-modal").find(".modal-header").load(main_url+"modal/"+id+" #modal-header-hidden" );
            $("#user-info-modal").find(".modal-body").load(main_url+"modal/"+id );
            $("#user-info-modal").modal("show");//.find(".modal-body").load(main_url+"modal/"+id);
        }
    </script>
    
{% endblock tail %}